*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body{
    background: rgb(177, 162, 164);
}

.contenedor {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

/* HEADER */

header {
    background-color: aliceblue;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

header .logo-nombre {
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

header div img{
    border-radius: 50%;
    width: 100px;
    background-color: aliceblue;
}

header .menu {
    position: sticky;
    top: 0;
    background: lightblue;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
}

header .menu ul {
    list-style: none;
    display: flex;
}

header .menu ul li a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: black;
    flex-grow: 1;
}

header .menu ul li a:hover {
    background: rgb(117, 191, 216);
    color: white;
}

/* MAIN */

.main {
    padding: 2.5% 5% 2.5% 5%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.main .juegos {
    width: 70%;
    border-radius: 2.5%;
    background-color: rgb(202, 130, 130);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.main .juegos h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 50px;
}

.main .juegos .juego {
    border: 2px solid black;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-flow: column nowrap;
}

.main .juegos .juego h3 {
    text-align: center;
}

.main .juegos .juego .columna {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 2%;
}

.main .juegos .juego .columna img {
    border: 2px solid rgb(0, 0, 0);
    height: 150px;
    width: 150px;
    max-height: 150px;
    border-radius: 30px;
    padding: 4px;
}

.main .juegos .juego .fila {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-self: none;
    padding: 2%;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main .juegos .juego .fila .compra {
    text-decoration: none;
    color: black;
    background: rgb(131, 131, 199);
    box-shadow: 5px 5px 0px rgb(82, 82, 145);
    align-self: flex-end;
    padding: 1%;
}

.main .juegos .juego .fila .compra:hover {
    box-shadow: 2px 2px 0px rgb(82, 82, 145);
}

.main .juegos .juego .fila .compra:active {
    box-shadow: 0px 0px 0px rgb(82, 82, 145);
}

.main .aside {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 200%;
    width: 25%;
}

.main .aside .informacion {
    background: rgb(120, 190, 147);
    border-radius: 2.5%;
    padding: 2%;
    margin-bottom: 2.5%;
}

.main .aside .consultas {
    background: rgb(192, 129, 46);
    border-radius: 2.5%;
    padding: 2%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.main .aside h2, .main .aside p {
    text-align: center;
}

.main .aside form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.main aside .consultas form textarea{
    min-width: 100%;
    max-width: 100%;
    max-height: 150px;
    min-height: 150px;
}

.main .aside .consultas form input {
    margin: 2%;
    background-color: #1668c4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border: none;
    padding: 2%;
    font-size: 100%;
}

.main aside .consultas form input:hover{
    background: #4A88F4;
    cursor: pointer;
}

/* FOOTER */

footer {
    background: rgb(35, 35, 43);
    color: white;
    display: flex;
    width: auto;
    padding-bottom: 15px;
    flex-flow: column nowrap;
    padding-left: 5%;
}

footer h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2% 0%;
}

footer .contacto ul{
    list-style: none;
    display: flex;    
}

footer .contacto ul li a{
    text-decoration: none;
    color: rgb(170, 42, 42);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
}

footer ul li a:hover{
    color: white;
} 

/* MEDIA QUERIES */

@media screen and (max-width: 320px){
    header {
        width: 100%;
    }

    .main {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        padding: 0;
    }
    .main .juegos {
        width: 100%;
        border-radius: 0;
    }
}